In [1]:
# imports de preparação e construção do modelo
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import *
import matplotlib.pyplot as plt

# imports mlflows para modelo do sklearn
import mlflow
import mlflow.sklearn

In [2]:
credit = pd.read_csv('Credit.csv')

In [3]:
credit.head()

  checking_status  duration  ... foreign_worker class
0              <0         6  ...            yes  good
1        0<=X<200        48  ...            yes   bad
2   'no checking'        12  ...            yes  good
3              <0        42  ...            yes  good
4              <0        24  ...            yes   bad

[5 rows x 21 columns]

In [5]:
credit.shape

(1000, 21)

In [7]:
for col in credit.columns:
    if credit[col].dtype == 'object':
        credit[col] = credit[col].astype('category').cat.codes

In [8]:
credit.head()

   checking_status  duration  ...  foreign_worker  class
0                2         6  ...               1      1
1                1        48  ...               1      0
2                0        12  ...               1      1
3                2        42  ...               1      1
4                2        24  ...               1      0

[5 rows x 21 columns]

In [9]:
previsores = credit.iloc[:, 0:20].values
classe = credit.iloc[:, 20].values

In [10]:
previsores

array([[ 2,  6,  1, ...,  1,  1,  1],
       [ 1, 48,  3, ...,  1,  0,  1],
       [ 0, 12,  1, ...,  2,  0,  1],
       ...,
       [ 0, 12,  3, ...,  1,  0,  1],
       [ 2, 45,  3, ...,  1,  1,  1],
       [ 1, 45,  1, ...,  1,  0,  1]])

In [13]:
set(classe)

{0, 1}

In [14]:
X_train, X_test, y_train, y_test = train_test_split(previsores, classe, train_size=0.7, random_state=123)

In [1]:
mlflow.set_experiment('nb-experiment')

with mlflow.start_run():
    nb = GaussianNB()
    nb.fit(X=X_train, y=y_train)
    pred = nb.predict(X_test)
    
    # metricas de avaliação
    accuracy = accuracy_score(y_true=y_test, y_pred=pred)
    recall = recall_score(y_true=y_test, y_pred=pred)
    precision = precision_score(y_true=y_test, y_pred=pred)
    f1 = f1_score(y_true=y_test, y_pred=pred)
    auc = roc_auc_score(y_true=y_test, y_score=pred)
    log = log_loss(y_true=y_test, y_pred=pred)
    
    # registrando metricas
    mlflow.log_metric(key='accuracy', value=accuracy)
    mlflow.log_metric(key='recall', value=recall)
    mlflow.log_metric(key='precision', value=precision)
    mlflow.log_metric(key='f1', value=f1)
    mlflow.log_metric(key='f1', value=f1)
    mlflow.log_metric(key='log', value=log)
    
    # graficos
    confusion = plot_confusion_matrix(nb, X_test, y_test)
    plt.savefig('confusion.png')
    roc = plot_roc_curve(nb, X_test, y_test)
    plt.savefig('roc.png')
    
    # registrar graficos
    mlflow.log_artifact('confusion.png')
    mlflow.log_artifact('roc.png')
    
    # regisdtrando o modelo
    mlflow.sklearn.log_model(sk_model=nb, artifact_path='NB model')
    
    # info execucao
    print('Modelo: ', mlflow.active_run().info.run_uuid)
    
mlflow.end_run()

NameError: name 'mlflow' is not defined